{% extends 'base.html' %}
{% load static %}

{% block content %}
<style type="text/css">
	.review-post-container{
		margin-bottom: 20px;
		width: 100%;
	}
	.create-post-bar{
		background-color: #fff;
		margin-bottom:20px;
	}
	.container{
		margin-top: 100px;
	}
	.left-column{
		padding:20px;
	}
	.right-column{
		padding:20px;
	}
	.lead{
		font-size: 17px;
	}
	.sidebar{
		padding:5px;
	}
	.headers h3, .headers h4{
		display: inline-block;
	}
</style>
<div class="container left-column">
	<div class="row">
       <div class="col-md-8">
		

		{% if moviereview or gamereview or episodereview %}
			<div>
				<!-- Movie Reviews -->
				{%if moviereview %}
				<h1>Movie Reviews</h1>
				{%endif%}

				<div class="container">
					{% for moviereview in moviereview %}
						<div class="review-post-container">
							{% include 'snippets/home_post_movie_review.html' with moviereview=moviereview %}
						</div>
					{% endfor %}
				</div>

				<!-- Game Reviews -->
				{%if gamereview%}
				<h1>Game Reviews</h1>
				{%endif%}
				<div class="container">
					{% for gamereview in gamereview %}
						<div class="review-post-container">
							{% include 'snippets/home_post_game_review.html' with gamereview=gamereview %}
						</div>
					{% endfor %}
				</div>

				<!-- Episode Review -->
				{%if episodereview%}
				<h1>Episode Reviews</h1>
				{%endif%}
				<div class="container">
					{% for episodereview in episodereview %}
						<div class="review-post-container">
							{% include 'snippets/home_post_episode_review.html' with episodereview=episodereview %}
						</div>
					{% endfor %}
				</div>

			</div>

		     {% endif %}
		</div>

		   

		      <div class="col-md-4">

        		<!-- Search Widget -->
					<div class="card my-4">
					<h5 class="card-header">Post a Review</h5>
					<div class="card-body">
						<p class="lead"><strong>Watched a Movie or an Episode or Played a Game? Review it now!</strong></p>
						<p class="ml-5 pl-5"><a class="btn btn-primary center" href="{% url 'base:select_category' %}">Post a Review</a></p
						</div>
					</div>
					</div>

					<!-- Categories Widget -->
					<div class="card my-4">
					<h5 class="card-header">Categories</h5>
					<div class="card-body">
						<div class="row">
						<div class="col-lg-6">
							<ul class="list-unstyled mb-0">
						 <li><a href="{% url 'movies:select_movie' %}"><h4 class="inline-block">     Movies</h4></a></li>
						 <li><a href="{% url 'games:select_game' %}"><h4>     Games</h4></a></li>
						 <li><a href="{% url 'series:select_series' %}"><h4>     Series</h4></a></li>
							</ul>
						</div>
						
						</div>
					</div>
					</div>

					<!-- Side Widget -->
					<div class="card my-4">
					<h5 class="card-header">Side Widget</h5>
					<div class="card-body">
						You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
					</div>
					</div>

          
	</div>
</div>

{% endblock content %}

{% block search %}
	{% if not moviereview and not gamereview and not episodereview %}

	<div class="container">
		<div class="row">
			<div class="review-post-container">
				{% include 'snippets/search_list.html' %}
			</div>
		</div>
	</div>

	{% endif %}
{% endblock search %}
