{% extends 'base.html' %}
{% load static %}

{% block content %}
<style type="text/css">
	.review-post-container{
		margin-bottom: 20px;
		width: 100%;
	}
	.create-post-bar{
		background-color: #fff;
		margin-bottom:20px;
	}
	.left-column{
		padding:20px;
	}
	.right-column{
		padding:20px;
	}
	.lead{
		font-size: 17px;
	}
	.sidebar{
		padding:5px;
	}
	.headers h3, .headers h4{
		display: inline-block;
	}
</style>
<div class="container left-column">
	<div class="row">

		<!-- Review feed -->
			<div class="left-column col-lg-9">

				<div class="card m-auto d-flex flex-column p-3">
					<div class="headers">
						<h3>Explore:</h3>
						<a href="{% url 'movies:select_movie' %}"><h4 class="inline-block">     Movies</h4></a>
						<a href="{% url 'games:select_game' %}"><h4>     Games</h4></a>
						<a href="{% url 'series:select_series' %}"><h4>     Series</h4></a>
					</div>
				</div>

				<!-- Top 'Give Review' bar -->
				<div class="mb-3">
					<div class="card m-auto d-flex flex-column p-3">
						<p class="lead">Watched a Movie or an Episode or Played a Game? Review it now!</p>
						<p class="m-auto"><a class="btn btn-primary" href="{% url 'base:select_category' %}">Post a Review</a></p>
					</div>
				</div>
			<!-- end Top 'create post' bar -->

		{% if moviereview or gamereview or episodereview %}
			<div>
				<!-- Movie Reviews -->
				<h1>Movie Reviews</h1>
				<div class="container">
					{% for moviereview in moviereview %}
						<div class="review-post-container">
							{% include 'snippets/home_post_movie_review.html' with moviereview=moviereview %}
						</div>
					{% endfor %}
				</div>

				<!-- Game Reviews -->
				<h1>Game Reviews</h1>
				<div class="container">
					{% for gamereview in gamereview %}
						<div class="review-post-container">
							{% include 'snippets/home_post_game_review.html' with gamereview=gamereview %}
						</div>
					{% endfor %}
				</div>

				<!-- Episode Review -->
				<h1>Episode Reviews</h1>
				<div class="container">
					{% for episodereview in episodereview %}
						<div class="review-post-container">
							{% include 'snippets/home_post_episode_review.html' with episodereview=episodereview %}
						</div>
					{% endfor %}
				</div>

			</div>

		{% endif %}
	</div>
</div>

{% endblock content %}

{% block search %}
	{% if not moviereview and not gamereview and not episodereview %}

	<div class="container">
		<div class="row">
			<div class="review-post-container">
				{% include 'snippets/search_list.html' %}
			</div>
		</div>
	</div>

	{% endif %}
{% endblock search %}
