<style type="text/css">

</style>

<div class="container">
	<div class="row">

		<!-- Review Post -->
		<div class="card m-auto">
			<a href="{% url 'games:review_detail' gamereview.slug %}">
				<img class="card-img-top" src="{{gamereview.game.image.url}}">
			</a>

			<div class="card-body mt-2 mb-2">
				<a href="{% url 'games:review_detail' gamereview.slug %}">
					<h2 class="card-title">{{gamereview.title}}</h2>
				</a>
				<p class="card-text">{{gamereview.body}}</p>
				{% if gamereview.author == request.user %}
					<a href="{% url 'games:edit_review' gamereview.slug %}" class="btn btn-primary">Update</a>
				{% endif %}
			</div>
			<div class="card-footer text-muted">
				<p>Last updated on {{gamereview.date_updated}} by
					<a href="{% url 'accounts:account_view' gamereview.author.username %}">
						{{gamereview.author.first_name}} {{gamereview.author.last_name}}
					</a>
				</p>
			</div>
		</div>
	</div>
</div>
