{% extends 'base.html' %}

{% block content %}
<style type="text/css">

  .card{
      max-width: 700px;
  }

  .container{
      padding: 20px;
  }
 
  .checked{
    color: yellow;
  }
</style>
<div class="container">
 <div class="row">
  <div class="col-md-8">
        <h1 class="my-4">Game details
          <small>-Reviewbook</small>
        </h1>

       
        <div class="card mb-4">
          <img class="card-img-top" src="{{review.game.image.url}}" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">Game: {{review.game.name}}</h2>
            <hr style="border:3px solid #f1f1f1">
            <p class="card-text">{{review.body}}</p>
            <hr style="border:3px solid #f1f1f1">
            <div>
               <span class="heading">User Rating</span>
                {% for i in range%}
                <span class="fa fa-star checked"></span>
                {% endfor %}
                {% for i in range2%}
                <span class="fa fa-star"></span>
                {% endfor %}
                <p>{{review.game.avgrating}} average based on {{review.game.totalreview}} reviews.</p>
                <hr style="border:3px solid #f1f1f1">
            </div>
          </div>
        
          <div class="card-footer text-muted">
            Posted on {{review.date_published}} by
            <a href="{% url 'accounts:account_view' review.author.username %}">{{review.author.first_name}} {{review.author.last_name}}</a>, last updated on {{review.date_updated}}
          </div>
        </div>
      </div>

        <div class="col-md-4">

        		<!-- Search Widget -->
					<div class="card my-4">
					<h5 class="card-header">Post a Review</h5>
					<div class="card-body">
						<p class="lead"><strong>Watched a Movie or an Episode or Played a Game? Review it now!</strong></p>
						<p class="ml-5 pl-5"><a class="btn btn-primary center" href="{% url 'base:select_category' %}">Post a Review</a></p
						</div>
					</div>
					</div>

					<!-- Categories Widget -->
				<div class="card my-4">
					<h5 class="card-header">Categories</h5>
					<div class="card-body">
						<div class="row">
						<div class="col-lg-6">
							<ul class="list-unstyled mb-0">
						 <li><a href="{% url 'movies:select_movie' %}"><h4 class="inline-block">     Movies</h4></a></li>
						 <li><a href="{% url 'games:select_game' %}"><h4>     Games</h4></a></li>
						 <li><a href="{% url 'series:select_series' %}"><h4>     Series</h4></a></li>
							</ul>
						</div>
				  	</div>
				  </div>
			 </div>

					<!-- Side Widget -->
					<div class="card my-4">
					<h5 class="card-header">Side Widget</h5>
					<div class="card-body">
						You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
					</div>
					</div>

          
	   
  </div>
</div>




      <!--End Review Post-->
 </div>
{% endblock content %}
